.booking-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: $background_color;
  overflow: auto;
  &__inner {
    width: 100%;
    height: 100%;
    @include mq(tablet, max) {
      padding-top: 70px;
    }
    @include mq(phone-s21, max) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq_mobile_landscape() {
      height: auto;
    }
    @include mq(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: vw(200px) 0;
      margin: 0 auto;
    }
    @include mq(desktop-wide) {
      padding: 200px 0;
    }
  }
  &__heading {
    margin-bottom: 30px;
    @include typography(42px, 42px, 50px, 50px, 400, $f-heading, $primary);
    font-style: normal;
  }
  &__calendar {
    &--range {
      display: none;
    }
    .date-picker-wrapper .month-wrapper {
      display: flex;
      > .gap,
      > .time {
        display: none;
      }
      table {
        .week-name th {
          text-transform: capitalize;
        }
        &.month2 {
          width: 100%;
          @include mq(desktop-wide) {
            width: vw(252px);
          }
        }
      }
      .caption {
        .next {
          border-left-color: $c-black;
        }
        .prev {
          border-right-color: $c-black;
        }
      }
    }
  }
  &__inputs {
    margin-top: 13px;
    .row {
      @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .form-checkbox {
    input {
      display: none;
    }
    label {
      font: 400 14px/2 $f-text;
      color: $c-gray-2f;
    }
  }
  #booking_cancel {
    letter-spacing: 0.02em;
    @include mq(tablet) {
      font-size: 11px !important;
    }
  }
}