.booking-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: $background_color;
  overflow: auto;
  &__inner {
    width: 100%;
    height: 100%;
    @include mq(tablet, max) {
      padding: 100px 20px 40px;
    }
    @include mq(phone-s21, max) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq_mobile_landscape() {
      height: auto;
    }
    @include mq(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: vw(200px) 0;
      margin: 0 auto;
    }
    @include mq(desktop-wide) {
      padding: 200px 0;
    }
  }
  &__heading {
    display: none;
    margin-bottom: 30px;
    @include typography(42px, 42px, 50px, 50px, 400, $f-heading, $primary);
    font-style: normal;
    letter-spacing: -3px;
    @include mq(tablet) {
      display: block;
    }
  }
  &__calendar {
    display: none;
    @include mq(tablet) {
      display: block;
    }
    &--range {
      display: none;
    }
    .date-picker-wrapper {
      .month-wrapper {
        @include mq(tablet) {
          position: relative;
          display: grid;
          width: 722px !important;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0 80px;
          &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            width: 0.1px;
            height: 100%;
            transform: translateX(-50%);
            background: $c-gray-21;
          }
        }
        @include mq(desktop-wide) {
          padding: 40px;
        }
        > .gap,
        > .time {
          display: none;
        }
        table {
          @include mq(desktop-wide) {
            width: 100%;
          }
          .week-name th {
            text-transform: capitalize;
            @include mq(desktop-wide) {
              width: 40px;
              height: 40px;
            }
          }
          tbody td {
            @include mq(desktop-wide) {
              width: 40px;
              height: 40px;
            }
            .day span {
              color: $c-black;
            }
          }
          &.month2 {
            width: 100%;
          }
          .day.lastMonth, 
          .day.nextMonth {
            display: block;
            color: #adadad;
          }
        }
        .caption {
          .next {
            border-left-color: $c-black;
          }
          .prev {
            border-right-color: $c-black;
          }
        }
      }

      .month-element {
        margin-top: 7px;
      }
    } 
    &--mobile {
      @include mq(tablet) {
        display: none;
      }
      .event-date,
      .second-event-date {
        position: relative;
        display: block;
        &::after {
          position: absolute;
          content: "";
          top: 13px;
          right: 15px;
          width: 12px;
          height: 14px;
          background-image: url("data:image/svg+xml;utf8,<svg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11.4887 0.5H0.708984V13.5H11.4887V0.5Z' stroke='%230d0d0d'/><path d='M11.9033 0H0.294434V5H11.9033V0Z' fill='black'/><path d='M11.4887 0.5H0.708984V4.5H11.4887V0.5Z' stroke='%230d0d0d'/></svg>");
          background-position: center;
          background-repeat: no-repeat;
          pointer-events: none;
        }
      }
    }
  }
  &__inputs {
    @include mq(tablet) {
      margin-top: 13px;
    }
    .row {
      @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .col {
      @include mq(tablet, max) {
        margin-bottom: 20px;
      }
    }
    .kids-number .jcf-select {
      @include mq(tablet) {
        border-left: 0;
      }
    }
    .promocode {
      @include mq(tablet, max) {
        margin-bottom: 0;
      }
      .form-control {
        @include mq(tablet, max) {
          margin-bottom: 0;
        }
        @include mq(tablet) {
          border-left: 0
        }
      }
    }
    .jcf-select {
      padding: 8px 24px;
      color: $c-gray-18;
      @include mq(tablet) {
        font-weight: 400;
        letter-spacing: 0;
        color: $c-gray-33;
      }
      &::after {
        border-top-color: $c-gray-2f;
        @include mq(tablet) {
          border-top-color: $primary;
        }
      }
    }
  }
  .form-label {
    font: 400 14px/21px $f-text;
    color: $c-black;
    letter-spacing: -0.01em;
    @include mq(tablet) {
      display: none;
    }
  }
  .form-control {
    margin-bottom: 20px;
    padding: 8px 20px;
    width: 100%;
    border: 1px solid $c-gray-66;
    font: 400 14px/24px $f-text;
    color: $c-gray-33;
    background-color: transparent;
    @include mq(tablet, max) {
      font: 600 12px/24px $f-text;
      letter-spacing: 0.15em;
      color: $c-gray-18;
      text-transform: uppercase;
    }
    &::placeholder {
      color: $c-gray-18;
      @include mq(tablet) {
        color: $c-gray-33;
      }
    }
  }
  .form-checkbox {
    margin: 30px 0;
    text-align: center;
    input {
      display: none;
    }
    input:checked + label::after {
      background-color: $primary;
    }
    label {
      position: relative;
      padding-left: 25px;
      font: 400 12px/28px $f-text;
      color: $c-gray-2f;
      text-transform: uppercase;
      cursor: pointer;
      @include mq(tablet) {
        font-size: 14px;
      }
      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid $c-gray-2f;
      }
      &::after {
        left: 3px;
        width: 11px;
        height: 11px;
        background-color: transparent;
      }
    }
  }
  #booking_submit {
    width: 330px;
    @include mq(tablet, max) {
      font-size: 10px;
    }
  }
  #booking_cancel {
    letter-spacing: 0.02em;
    @include mq(tablet) {
      font-size: 11px !important;
    }
  }
  &__btns {
    text-align: center;
  }
  .jcf-list li span {
    font-size: 10px;
    color: $c-gray-18;
    text-transform: none;
    @include mq(tablet) {
      color: $c-gray-33;
    }
  }
}