.btn {
  display: inline-block;
  padding: 6px 20px;
  font: 700 12px/28px $f-text;
  letter-spacing: 3.6px;
  border: 1px solid $c-black;
  background-color: #0000;
  color: $c-black;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @include mq(tablet) {
    &:hover {
      background-color: $primary;
      color: $c-white;
    }
  }
  &.btn--primary {
    background-color: $primary;
    border-color: $primary;;
    color: $c-white;
    @include mq(tablet) {
      &:hover {
        border-color: $primary;
        background-color: #0000;
        color: $primary;
      }
    }
  }
  &.btn--accent {
    background-color: $accent;
    border-color: $accent;
    color: $c-white;
    @include mq(tablet) {
      &:hover {
        background-color: $background_color;
        color: $accent;
      }
    }
  }
  &.btn--outline {
    border-color: $primary;
    background-color: #0000;
    color: $primary;
    @include mq(tablet) {
      &:hover {
        background-color: $accent;
        border-color: $accent;
        color: $c-white;
      }
    }
    &__dark {
      border-color: $c-black;
      color: $c-black;
      @include mq(tablet) {
        &:hover {
          background-color: $primary;
          border-color: $primary;
          color: $c-white;
        }
      }
    }
  }
}
.btn-booking {
  background-image: $booking;
  background-repeat: no-repeat;
  background-position: top 13px right 20px;
  min-width: 240px;
  &:hover {
    background-image: $booking-hover;
  }
}
.cta {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font: 700 14px/16.8px $f-text;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  color: $primary;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $primary;
    transform: scaleX(1);
    transform-origin: 0% center;
    transition: transform 0.3s ease-in-out;
    @include mq(tablet) {
      border-bottom-width: 1px;
    }
  }
  @include mq(tablet) {
    &:hover::after {
      transform: scaleX(0);
      transform-origin: 100% center;
    }
  }
  &.cta-reverse {
    &::after {
      transform: scaleX(0);
      transform-origin: 100% center;
    }
    @include mq(tablet) {
      &:hover::after {
        transform: scaleX(1);
        transform-origin: 0 center;
      }
    }
    &.active::after {
      transform: scaleX(1);
      transform-origin: 0 center;
    }
  }
}
.link {
  position: relative;
  display: inline-block;
  font-size: 14px !important;
  line-height: 21px !important;
  color: $primary;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 4px;
    width: 100%;
    border-bottom: 1px solid $primary;
    transform: scaleX(1);
    transform-origin: 0% center;
    transition: transform 0.3s ease-in-out;
    @include mq(tablet) {
      border-bottom-width: 1px;
    }
  }
  @include mq(tablet) {
    &:hover::after {
      transform: scaleX(0);
      transform-origin: 100% center;
    }
  }
}
