.content-background {
  @include mq(tablet) {
    height: vw(920px);
  }
  @include mq(desktop-wide) {
    height: 920px;
  }
  &::after {
    @include mq(tablet, max) {
      display: none;
    }
  }
  &__bg {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mq(tablet) {
      display: block
    }
    img {
      @include coverImage();
    }
  }
  .container {
    @include mq(tablet) {
      display: flex;
      align-items: center;
    }
  }
  &__inner {
    @include mq(tablet) {
      position: absolute;
      left: 0;
      bottom: vw(170px);
      z-index: 2;
    }
    @include mq(desktop-wide) {
      bottom: 170px;
    }
  }
  .content {
    text-align: center;
    @include mq(tablet) {
      text-align: right;
      width: vw(600px);
    }
  }
  &__heading {
    margin-bottom: 30px;
    @include typography(42px, 79px, 42px, 72px, 400, $f-heading);
    letter-spacing: -0.04em;
    @include mq(tablet, max) {
      font-style: normal;
    }
    @include mq(tablet) {
      margin-bottom: vw(30px);
      color: $c-white;
      letter-spacing: -0.01em;
    }
    @include mq(desktop-wide) {
      margin-bottom: 30px;
    }
  }
  &__description {
    margin-bottom: 40px;
    letter-spacing: 0.2em;
    @include mq(tablet) {
      margin-bottom: 0;
      color: $c-white;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    @include mq(tablet, max) {
      margin: 0 auto;
      max-width: 240px;
    }
    @include mq(tablet) {
      display: grid;
      max-width: vw(480px);
      margin-left: vw(100px);
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mq(desktop-wide) {
      margin-left: 100px;
      max-width: 490px;
    }
    a {
      font-size: 10px;
      line-height: 28px;
      letter-spacing: 3.6px;
      @include mq(tablet, max) {
        &:not(:first-child) {
          margin-top: -1px;
        }
      }
      @include mq(tablet) {
        border-color: $c-gray-21;
        background-color: $c-white;
        color: $c-black;
        letter-spacing: 2.6px;
        &:nth-child(1),
        &:nth-child(2) {
          border-top-width: 1px;
        }
        &:nth-child(n+3) {
          border-top-width: 0;
        }

        &:hover {
          border-color: $accent;
        }
      }

      @include mq(tablet-wide) {
        &:nth-child(even) {
          border-left-width: 0;
        }
        
      }
    }
  }
}