.custom-blockquote {
  text-align: center;
  &.has-media {
    .container {
      @include mq(tablet, max) {
        padding: 0 35px;
      }
      @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__image {
    margin-bottom: 30px;
    @include mq(tablet) {
      margin-bottom: 0;
      margin-right: vw(120px);
      flex: 0 0 vw(557px);
    }
    .img-a-img:before {
      padding-top: 142.8%;
      @include mq(tablet) {
        padding-top: 126.7%;
      }
      @include mq(desktop-wide) {
        padding-top: 700px;
      }
    }
  }
  &__content {
    @include when-inside(".has-media") {
      @include mq(tablet) {
        max-width: vw(485px);
      }
    }
  }
  &__text {
    margin-bottom: 30px;
    @include typography(32px, 68px, 36px, 75px, 400, $f-heading, $primary);
    @include mq(tablet) {
      margin: 0 auto vw(50px);
      max-width: vw(1026px);
    }
    @include when-inside(".has-media") {
      @include typography(32px, 48px, 38px, 54px, 400, $f-heading, $heading_color);
      letter-spacing: -0.02em;
    }
  }
  &__name {
    margin-bottom: 7px;
    text-transform: uppercase;
    font: 700 12px/28px $f-text;
    color: #2e3033;
    letter-spacing: 3.6px;
    @include mq(tablet, max) {
      font-size: 11px;
      line-height: 13.2px;
      @include when-inside(".has-media") {
        font-size: 12px;
        line-height: 14.4px;
      }
    }
    @include mq(tablet) {
      margin-bottom: vw(6px);
    }
  }
  &__role {
    font-size: 12px !important;
    line-height: 21px !important;
    letter-spacing: 0.02em;
  }
}
