.custom-wysiwig {
  h1 {
    margin-bottom: 35px;
    @include typography(44px, 96px, 44px, 87px);
    @include mq(tablet) {
      margin-bottom: vw(30px);
    }
  }

  h2 {
    margin-bottom: 35px;
    @include typography(32px, 68px, 36px, 78px);
    font-style: normal;
    @include mq(tablet) {
      margin-bottom: vw(35px);
    }
  }

  h3 {
    margin-bottom: 35px;
    @include typography(28px, 44px, 44px, 69px);
    @include mq(tablet) {
      margin-bottom: vw(50px);
    }
  }

  h4 {
    margin-bottom: 30px;
    @include typography(24px, 32px, 28px, 32px);
    @include mq(tablet) {
      margin-bottom: vw(45px);
    }
  }

  h5 {
    margin-bottom: 30px;

    @include mq(tablet) {
      margin-bottom: vw(42px);
    }
  }

  h6 {
    margin: 0 auto 30px;
    max-width: 250px;

    @include mq(tablet) {
      max-width: none;
      margin-bottom: vw(11px);
    }
  }

  p {
    @include mq(tablet) {
      margin-left: auto;
      margin-right: auto;
      max-width: vw(531px);
    }
  }

  .btn {
    min-width: 275px;
    @include mq(tablet) {
      min-width: 240px;
    }

    &-outline {
      border-color: $c-gray-21;
      color: $c-black;

      &:hover {
        border-color: $primary;
        background-color: $primary;
        color: $c-white
      }
    }
  }

  .cta {
    @include typography(12px, 14px, 14.77px, 17.23px, 700, $f-text, $c-black);
    letter-spacing: 0.25em;

    &::after {
      border-bottom-color: $c-black;
    }
  }

  .link {
    color: $c-black;

    &::after {
      border-color: $c-black;
    }
  }
}

#page-info {
  h1 {
    @include mq(tablet, max) {
      font-size: 44px;
      color: $c-black !important;
    }
  }
  p {
    font-size: 12px;
    line-height: 21px;
  }
}