.home-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  @include mq(tablet, max) {
    @include when-inside('.general-hero') {
      @include orientation(portrait) {
        height: vw(590px, $viewport-sm);
      }
    }
  }
  &::before,
  &::after {
    @include pseudo-elements();
    z-index: 1;
  }
  &::before {
    background-color: $c-black;
    opacity: 0.24;
  }

  &::after {
    @include mq(tablet, max) {
      position: absolute;
      content: '';
      top: auto;
      bottom: svw(30px);
      left: 50%;
      width: 0;
      height: 40px;
      border-left: 1px solid $c-white;
      transform: translateX(-50%);
    }
    @include mq(tablet) {
      top: auto;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      transform: rotate(180deg);
      height: vw(412px);
      opacity: 0.12;
    }
    @include when-inside(".general-hero") {
      background: linear-gradient(
        180deg,
        #faf6ef 0%,
        rgba(250, 246, 239, 0) 100%
      );
      @include mq(tablet) {
        height: vw(466px);
      }
    }
  }
  &__bg {
    @include coverImage();
  }
  &__logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    @include mq(tablet, max) {
      display: block;
    }
    &--text {
      @include typography(61px, 68px, 61px, 68px);
      color: $c-white;
      letter-spacing: -0.04em;
      white-space: nowrap;
    }
    &--img {
      margin-top: -40px;
      width: 240px;
      max-width: none;
      @include mq(tablet) {
        margin-top: 0;
        width: vw(410px);
      }
      @include mq(desktop-wide) {
        width: 410px;
      }
    }
  }
  &__cta {
    position: absolute;
    left: 50%;
    bottom: svw(116px);
    transform: translateX(-50%);
    min-width: 280px;
    white-space: nowrap;
    z-index: 2;
    @include mq(tablet) {
      display: none;
    }
    @include when-inside('.mobile') {
      bottom: 116px;
    }
  }
  .scroll-link {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(0.9);
    }
    &__wrapper {
      position: absolute;
      display: none;
      z-index: 2;
      @include mq(tablet) {
        display: block;
        right: vw(69px);
        bottom: vw(84px);
      }
      @include mq(desktop-wide) {
        right: 69px;
        bottom: 84px;
      }
    }
  }
  .line {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    width: 2px;
    transform: translateX(-50%);
    @include mq(tablet) {
      bottom: 0;
      transform: translate(-50%, 50%);
    }
    &-top,
    &-bottom {
      position: relative;
      display: block;
      width: 100%;
      @include mq(tablet) {
        height: vw(40px);
      }
      @include mq(desktop-wide) {
        height: 40px;
      }
      &::before {
        @include pseudo-elements();
        height: 0;
      }
    }
    &-top {
      @include mq(tablet, max) {
        height: 40px;
      }
      &::before {
        background: $c-white;
        animation: height 0.3s linear 0s 1 forwards;
      }
    }
    &-bottom {
      @include mq(tablet, max) {
        height: 10px;
      }
      &::before {
        background: #d1b37e;
        animation: height 0.3s linear 0.3s 1 forwards;
      }
    }
  }
  .btn-audio {
    display: flex;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: none;
    appearance: none;
    z-index: 2;
    &--mute {
      display: none;
    }
    &.mute {
      .btn-audio--play {
        display: none;
      }
      .btn-audio--mute {
        display: block;
      }
    }
  }
}
.general-hero {
  &__content {
    position: relative;
    padding: 0 20px;
    z-index: 2;
    @include mq(tablet) {
      margin-top: -10vh;
    }
    &--inner {
      margin: 0 auto;
      text-align: center;
      @include mq(tablet) {
        max-width: vw(620px);
      }
    }
  }
  &__text {
    h1,
    h2 {
      margin: 0 auto 47px;
      @include mq(tablet) {
        max-width: vw(560px);
      }
    }
    h6 {
      margin-bottom: 15px;
      color: #212121;
      @include mq(tablet, max) {
        font-size: 10px;
      }
      @include mq(tablet) {
        margin-bottom: 18px;
      }
    }
  }
}

@keyframes height {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
