.loop-offer {
  position: relative;
  text-align: center;
  @include mq(tablet, max) {
    margin-bottom: 40px;
    margin-left: -20px;
    width: calc(100% + 40px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
    height: 435px;
    @include mq(tablet) {
      height: vw(450px);
    }
    @include mq(desktop-wide) {
      height: 450px;
    }
    img {
      @include coverImage();
      transition: transform .5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__category {
    display: none;
    @include mq(tablet) {
      display: block;
      position: absolute;
      top: vw(30px);
      right: vw(30px);
      padding: vw(10px) vw(20px);
      font: 700 10px/1 $f-text;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      background: $primary;
      color: $c-white;
      z-index: 1;
    }
    @include mq(desktop-wide) {
      padding: 10px 20px;
      top: 30px;
      right: 30px;
    }
  }
  &__btn {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #0d0d0d;
  }
  &__content {
    @include mq(tablet, max) {
      padding: 0 20px;
    }
  }
  &__title {
    margin: 37px 0 13px;
    font: 700 14px/1.2 $f-text;
    letter-spacing: 0.3em;
    color: $c-black;
    @include mq(tablet) {
      margin: vw(34px) 0 vw(15px);
    }
    @include mq(desktop-wide) {
      margin: 34px 0 15px;
    }
  }
  &__excerpt {
    @include typography(12px, 14px, 24px, 26px, 400, $f-text, $c-black);
    @include mq(tablet) {
      margin: 0 auto;
      max-width: vw(430px);
    }
  }
  &__link {
    margin-top: 15px;
    color: $c-black;
    @include mq(tablet) {
      margin-top: 20px;
    }
    &::after {
      border-bottom-color: $c-black;
    }
  }
}
