.media-content {
  &.media-content-post {
    .container {
      @include mq(tablet) {
        justify-content: space-between;
      }
    }
  }
  &.top {
    .container {
      @include mq(tablet) {
        align-items: flex-start;
      }
    }
    .media-content__content {
      @include mq(tablet) {
        padding-top: vw(50px);
      }
      @include mq(desktop-wide) {
        padding-top: 50px;
      }
    }
  }
  &.bottom {
    .container {
      @include mq(tablet) {
        align-items: flex-end;
      }
    }
    .media-content__content {
      @include mq(tablet) {
        padding-bottom: vw(50px);
      }
      @include mq(desktop-wide) {
        padding-bottom: 50px;
      }
    }
  }
  &.no-padding {
    .container {
      @include mq(tablet) {
        padding: 0;
      }
    }
  }
  .container {
    @include mq(tablet) {
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }
  }

  &__media {
    position: relative;
    margin-left: -20px;
    width: calc(100% + 40px);
    height: 500px;

    @include mq(tablet) {
      margin-left: 0;
      margin-right: vw(94px);
      width: vw(585px);
      height: vw(795px);
      flex-shrink: 0;
    }

    @include mq(desktop-wide) {
      height: 795px;
    }

    @include when-inside(".no-padding") {
      @include mq(tablet) {
        margin-right: vw(65px);
        width: vw(728px);
        height: vw(850px);
      }
      @include mq(desktop-wide) {
        margin-right: 65px;
        height: 850px;
      }
    }

    @include when-inside(".media-content--left") {
      order: 1;

      @include mq(tablet) {
        margin-right: 0;
      }
    }

    @include when-inside(".media-content-intro") {
      @include mq(tablet, max) {
        margin-bottom: 50px;
        height: 550px;
      }

      @include mq(tablet) {
        height: vw(780px);
      }

      @include mq(desktop-wide) {
        height: 780px;
      }
    }

    @include when-inside(".media-content-spa") {
      margin-bottom: 75px;
      height: 540px;

      @include mq(tablet) {
        margin-bottom: 0;
        width: vw(626px);
        height: vw(792px);
      }

      @include mq(desktop-wide) {
        height: 792px;
      }
    }

    @include when-inside(".media-content-tab") {
      @include mq(tablet, max) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    @include when-inside(".media-content-post") {
      @include mq(tablet, max) {
        margin-bottom: vw(30px, $viewport-sm);
      }
    }

    .img-a-img::before {
      padding-top: 500px;

      @include mq(tablet) {
        padding-top: hp(730, 850);
      }

      @include mq(desktop-wide) {
        padding-top: 795px;
      }

      @include when-inside(".media-content-intro") {
        padding-top: 550px;

        @include mq(tablet) {
          padding-top: 133.56%;
        }

        @include mq(desktop-wide) {
          padding-top: 780px;
        }
      }

      @include when-inside(".media-content-spa") {
        padding-top: 540px;

        @include mq(tablet) {
          padding-top: 126.5%;
        }

        @include mq(desktop-wide) {
          padding-top: 792px;
        }
      }

      @include when-inside(".media-content-map") {
        padding-top: 611px;

        @include mq(tablet) {
          padding-top: 198.6%;
        }

        @include mq(desktop-wide) {
          padding-top: 1136px;
        }
      }

      @include when-inside(".media-content-post") {
        @include mq(tablet) {
          padding-top: 125%;
        }

        @include mq(desktop-wide) {
          padding-top: 700px;
        }
      }
    }

    img:not(.img-decor, .spa-logo),
    video {
      @include coverImage();
    }

    .img-decor {
      position: absolute;
      right: 0;
      bottom: 0;
      transition: all 0.5s ease-in-out;

      @include mq(tablet) {
        bottom: vw(-26px);
        width: vw(284px);
      }

      @include mq(desktop-wide) {
        bottom: -26px;
        width: 284px;
      }

      @include when-inside(".media-content--left") {
        right: auto;
        transform: none;

        @include mq(tablet) {
          left: vw(-65px);
        }

        @include mq(desktop-wide) {
          left: -65px;
        }
      }
    }

    .spa-logo {
      position: absolute;
      left: 30px;
      bottom: 30px;
      width: 100px;
      z-index: 3;

      @include mq(tablet) {
        bottom: vw(50px);
        left: vw(50px);
        width: vw(172px);
      }

      @include mq(desktop-wide) {
        bottom: 50px;
        left: 50px;
        width: 172px;
      }
    }
  }

  &__content {
    width: 100%;
    @include mq(tablet, max) {
      margin-top: 40px;
      text-align: center;
    }
    @include mq(tablet) {
      max-width: vw(520px);

      @include when-inside(".media-content--left") {
        margin-right: vw(100px);
        text-align: right;
      }
    }

    @include when-inside(".media-content-post") {
      @include mq(tablet) {
        max-width: vw(450px);
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    // @include typography(42px, 66px, 42px, 66px, 400, $f-heading, $c-gray-18);
    // letter-spacing: -0.04em;
    font-style: normal;
    @include when-inside(".media-content-spa") {
      // @include typography(42px, 66px, 40px, 64px, 400, $f-heading, #2f2f2f);
      letter-spacing: -0.04em;
      @include mq(tablet, max) {
        margin-bottom: svw(16px);
      }
    }
    @include when-inside(".media-content-tab") {
      // @include typography(42px, 60px, 40px, 64px, 400, $f-heading, #2f2f2f);

      @include mq(tablet, max) {
        margin-bottom: 20px;
      }
    }

    @include when-inside(".media-content-post") {
      margin-bottom: 30px;
      // @include typography(48px, 60px, 64px, 64px, 400, $f-heading, $heading_color);

      @include mq(tablet) {
        margin-bottom: vw(30px);
      }

      @include mq(desktop-wide) {
        margin-bottom: 30px;
      }
    }
    @include when-inside('.single-post') {
      line-height: 1;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    // letter-spacing: 0.25em;
    // color: $c-gray-18;
    @include when-inside(".media-content-post") {
      // font: 600 12px/14.77px $f-text;
      // letter-spacing: 0.25em;
      // color: #181818;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include mq(tablet) {
      margin-bottom: vw(20px);
    }

    @include when-inside(".media-content-spa") {
      @include mq(tablet) {
        margin-bottom: vw(40px);
        width: vw(420px);
        max-width: 420px;
      }

      @include mq(tablet) {
        margin-bottom: 40px;
      }
    }

    @include when-inside(".media-content-post") {
      margin-bottom: 0;

      @include mq(tablet) {
        width: vw(450px);
        max-width: 450px;
      }
    }

    @include when-inside('.single-post') {
      @include mq(tablet) {
        width: vw(410px);
        max-width: 410px;
      }
    }
    @include when-inside('.single-post .media-content--left') {
      margin-left: auto;
    }

    h6 {
      margin-bottom: 30px;
      @include when-inside('.single-post') {
        margin-bottom: 15px;
      }
    }
    p {
      letter-spacing: 0.01em;
      color: $c-black;
    }
    .btn {
      min-width: 230px;
    }
  }

  &__links {
    margin: auto;
    max-width: 310px;

    @include mq(tablet) {
      display: grid;
      margin-right: 0;
      max-width: vw(480px);
    }

    @include mq(tablet-wide) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(desktop-wide) {
      max-width: 480px;
    }
  }

  &__link {
    display: block;
    font-weight: 600;

    &:hover {
      color: #FAF6EF;
    }
    &.dead-link {
      pointer-events: none;
    }
    &:not(:nth-child(1)) {
      border-top-width: 0;
    }

    @include mq(tablet) {
      font-weight: 400;
      &:nth-child(1),
      &:nth-child(2) {
        border-top-width: 1px;
      }
      &:nth-child(n+3) {
        border-top-width: 0;
      }

      &:hover {
        border-color: $accent;
      }
    }

    @include mq(tablet-wide) {
      &:nth-child(even) {
        border-left-width: 0;
      }
    }

    @include when-inside(".media-content-intro") {
      @include mq(tablet) {
        font-size: 11px;
      }
    }

    @include when-inside(".media-content-map") {
      color: #181818;

      @include mq(tablet) {
        font-size: 10px;
        line-height: 12.31px;
        padding: vw(17px) vw(10px);
        letter-spacing: 0.25em;
      }
      @include mq(desktop-wide) {
        padding: 17px 10px;
      }
    }
  }

  &__cta {
    color: $accent;
    font-weight: 600;

    &::after {
      border-color: $accent;
    }

    @include mq(tablet, max) {
      font-size: 11px;
      line-height: 11px;
    }
  }

  &__btn {
    min-width: 240px;

    @include mq(tablet) {
      margin-top: vw(25px);
      min-width: 255px;
    }
    @include when-inside(".media-content-post") {
      @include mq(tablet, max) {
        margin-top: vw(30px, $viewport-sm);
      }
    }
  }

  &-spa__links {
    display: flex;
    margin: vw(15px, $viewport-sm) 0;
    flex-direction: column;
    align-items: center;

    @include mq(tablet) {
      margin-bottom: vw(36px);
    }

    @include mq(desktop-wide) {
      margin-bottom: 36px;
    }
  }

  &-spa__link {
    margin-bottom: 15px;
    @include heading6();
    color: #0d0d0d;
    &.dead-link {
      pointer-events: none;
    }

    &:hover {
      color: #353535;
    }

    @include mq(tablet) {
      margin-bottom: vw(20px);
      color: #868686;
    }

    @include mq(desktop-wide) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.media-content-tab {
  &__links {
    display: flex;
  }

  &__link {
    display: flex;
    padding: 10px;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.25em;
    color: #181818;
    border-bottom: 1px solid #4d4d4d;

    @include mq(tablet) {
      padding: vw(40px) vw(20px) vw(50px);
    }

    &.active {
      border: 1px solid #4d4d4d;
      border-bottom: none;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

    @include mq(tablet) {
      &:hover {
        color: $accent;
      }
    }
  }

  &__content {
    display: none;

    @include mq(tablet) {
      padding: vw(86px) 0 vw(138px);
    }

    @include mq(desktop-wide) {
      padding: 86px 0 138px;
    }

    &.active {
      display: block;
    }
  }
}