.newsletter {
  padding: 25px 0 33px;
  text-align: center;
  @include mq(tablet, max) {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  @include mq(tablet) {
    text-align: left;
    padding: vw(90px) 0;
    border-bottom: 0;
  }

  @include mq(desktop-wide) {
    padding: 90px 0;
  }
  &-inner {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      align-items: center
    }
  }
  &-heading {
    @include typography(22px, 36px, 22px, 38px, 400, $f-heading, $c-black);
    text-transform: none;
    @include mq(tablet, max) {
      margin: 0 -20px 20px -20px;
      color: #0f0f0f;
    }
  }
  &-form {
    display: flex;
    padding: 8px 30px;
    background: $c-white;
    box-shadow: 0px 4px 23px 5px rgba(0, 0, 0, 0.05);
    align-items: center;
    @include mq(tablet) {
      padding: vw(10px);
      justify-content: space-between;
    }
    @include when-inside('.invalid') {
      border: 1px solid $c-red;
    }
    .wpcf7-spinner {
      display: none;
    }
    .wpcf7-not-valid-tip {
      display: none;
    }
    &__notification {
      display: block;
      margin-top: 10px;
      font-weight: 700;
      &.success {
        color: $c-green;
      }
      &.error {
        color: $c-red;
      }
    }
  }
  .email {
    margin-right: 20px;
    width: 100%;
    @include mq(tablet) {
      padding: 0 vw(20px);
      flex-grow: 1;
    }
  }
  .form-control {
    padding: 0;
    border: none;
    width: 100%;
    @include typography(12px, 18px, 38px, 38px, 400, $f-text, $c-black);
    &::placeholder {
      color: $c-black;
    }
  }
  .form-submit {
    letter-spacing: 0;
    appearance: none;
    @include typography(8px, 12px, 30px, 38px, 700, $f-text, $c-white);
    @include mq(tablet, max) {
      padding: 0 20px;
    }
  }
}