.offers-module {
  &__info {
    @include mq(tablet, max) {
      text-align: center;
    }
  }
  &__heading {
    margin-bottom: 20px;
    @include typography(48px, 84px, 48px, 75px);
    letter-spacing: -0.04em;
    @include mq(tablet) {
      margin-bottom: 15px;
      margin-bottom: 0;
    }
  }
  &__subheading {
    margin-bottom: 17px;
    letter-spacing: 0;
    @include mq(tablet) {
      letter-spacing: 0.25em;
    }
  }
  &__desc {
  }
  &__grid {
    @include mq(tablet, max) {
      margin: 30px -20px 0 -20px;
    }
    @include mq(tablet) {
      display: grid;
      margin-top: vw(106px);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: vw(30px);
    }
    @include mq(desktop-wide) {
      margin-top: 106px;
      grid-gap: 30px;
    }
  }
  &__btn {
    min-width: 254px;
    &--wrapper {
      margin-top: 30px;
      text-align: center;
      @include mq(tablet) {
        margin-top: vw(76px);
      }
      @include mq(desktop-wide) {
        margin-top: 76px;
      }
    }
  }
}