.offers-grid {
  .offer-category {
    margin: 0 auto 50px;
    @include mq(tablet, max) {
      margin-left: -20px;
      margin-right: -20px;
      background: url('../images/liner.svg') no-repeat center;
      background-size: 100%;
    }
    @include mq(tablet) {
      margin-bottom: vw(150px);
      max-width: 300px;
    }
    @include mq(desktop-wide) {
      margin-bottom: 150px;
    }
    .jcf-select {
      background-color: $background-color;
      color: $c-black;
      text-align: center;
      @include typography(10px, 12px, 28px, 28px, 700, $f-text, $c-black);
      @include mq(tablet, max) {
        margin: 0 auto;
        max-width: 240px;
      }
      &::after {
        border-top-color: $c-black;
      }
    }
  }
  .loop-offers {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: vw(65px) (30px);
    }
    @include mq(desktop-wide) {
      grid-gap: 65px 30px;
    }
  }
  &__cta {
    margin-top: 30px;
    text-align: center;
    @include mq(tablet) {
      margin-top: 100px;
    }
  }
}