.page-block {
  &__heading {
    margin-bottom: 30px;
    @include typography(42px, 54px, 42px, 64px, 400, $f-heading, $c-gray-2f);
    font-style: normal;
    text-align: center;
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
    @include mq(desktop-wide) {
      margin-bottom: 40px;
    }
  }
  &__subheading {
    margin-bottom: 65px;
    @include typography(12px, 14px, 12px, 14px, 700, $f-text, $c-gray-18);
    text-align: center;
    letter-spacing: 0.25em;
    @include mq(tablet) {
      margin-bottom: vw(130px);
    }
    @include mq(desktop-wide) {
      margin-bottom: 130px;
    }
  }

  &__banner {
    position: relative;
    height: 610px;
    @include mq(tablet) {
      height: vw(650px);
    }
    @include mq(desktop-wide) {
      height: 650px;
    }
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 1px;
      height: 39px;
      background-color: $primary;
      transform: translateY(-100%);
      @include mq(tablet) {
        height: vw(68px);
      }
      @include mq(desktop-wide) {
        height: 68px;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      @include coverImage;
      transition: transform .5s ease-in-out;
    }
  }

  &__cta {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 240px;
    transform: translateX(-50%);
    @include mq(tablet) {
      bottom: vw(50px);
      &:hover {
        background-color: $c-white !important;
        border-color: $c-white !important;
        color: $c-black !important;
      }
    }
    @include mq(desktop-wide) {
      bottom: 50px;
    }
  }
}