.press {
    text-align: center;
    &-heading {
      margin-bottom: 24px;
      @include mq(tablet) {
        margin-bottom: 18px;
      }
    }
  
    &-content {
      @include mq(tablet, max) {
        padding: 0 20px;
      }
      @include mq(tablet) {
        margin: 0 auto;
        width: vw(585px);
        max-width: 585px;
      }
      h6 {
        margin-bottom: 17px;
      }
    }

    &-categories {
      margin-top: 40px;
      @include mq(tablet) {
        margin-top: vw(200px);
      }
      @include mq(desktop-wide) {
        margin-top: 200px;
      }
      &__links {
        display: none;
        @include mq(tablet) {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: vw(130px);
          background-image: url('../images/gradient-line--wide.svg');
          background-repeat: no-repeat;
          background-position: top 30px center;
        }
        @include mq(desktop-wide) {
          padding-bottom: 130px;
        }
        li:last-child {
          border-left: 1px solid $c-gray-0d;
        }
      }
      &__link {
        position: relative;
        margin: 0 20px;
        @include typography(12px, 14px, 14.4px, 14px, 700, $f-text, $c-gray-0d);
        text-transform: uppercase;
        letter-spacing: 0.3em;
        white-space: nowrap;
        &::after {
            position: absolute;
            content: '';
            left: 50%;
            bottom: -20px;
            width: 6px;
            height: 6px;
            background-color: transparent;
            border-radius: 50%;
            transform: translateX(-50%);
        }
        &:hover,
        &.active {
          color: $primary;
        }
        &.active {
          color: $primary;
          &::after {
            background-color: $primary;
          }
        }
      }
      &__selector {
        @include mq(tablet) {
          display: none;
        }
      }
    }
    
  
    &-grid {
      @include mq(tablet, max) {
        margin-left: -20px;
        margin-right: -20px;
      }
      @include mq(tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: vw(60px) vw(40px);
      }
      @include mq(desktop-wide) {
        grid-gap: 60px 40px;
      }
    }
  
    &-loop {
      @include mq(tablet, max) {
        margin-bottom: svw(63px);
      }
      @include mq(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__img {
        width: 100%;
        height: 450px;
        overflow: hidden;
        @include mq(tablet) {
          height: vw(410px);
          // max-height: 410px;
        }
        img {
          @include coverImage();
          transition: transform .5s ease-in-out;
          will-change: transform;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
  
      &__title {
        padding: 0 20px;
        margin-top: 34px;
        font: 600 14px/16.8px $f-text;
        @include mq(tablet) {
          margin-top: vw(27px);
        }
        @include mq(desktop) {
          margin-top: 27px;
        }
      }
  
      &__excerpt {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 20px;
        // @include max-line();
        @include mq(tablet) {
          margin-top: vw(15px);
          margin-bottom: vw(30px);
        }
        @include mq(desktop) {
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }
      .link {
        color: $c-black;
        @include mq(tablet) {
          margin-top: auto;
        }
        &::after {
          border-bottom-color: $c-black;
        }
      }
    }
  }