.rooms-hero {
  position: relative;
  height: vw(730px);
  max-height: 100vh;
  @include mq(tablet) {
    height: vw(890px);
    max-height: 100vh;
  }
  &::before {
    @include pseudo-elements();
    background: rgba(27, 27, 27, 0.4);
    pointer-events: none;
  }
  &::after {
    @include mq(tablet, max) {
      @include pseudo-elements();
      height: 400px;
      background: linear-gradient(180deg, #000000 0%, rgba(23, 23, 23, 0) 100%);
      opacity: 0.5;
      transform: rotate(180deg);
    }
  }
  &__bg {
    @include coverImage();
  }
  &__content {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 1;
    @include mq(tablet) {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }
  &__heading {
    margin-bottom: 20px;
    @include typography(62px, 72px, 64px, 74px, 400, $f-heading, $c-white);
  }
  &__subheading {
    @include typography(12px, 14px, 12px, 14px, 700, $f-text, $c-white);
    letter-spacing: 0.3em;
  }
}