.rooms-module {
  &__heading {
    margin-bottom: 40px;
    text-align: center;
    @include typography(44px, 96px, 44px, 96px);
    @include mq(tablet) {
      margin-bottom: vw(50px);
    }
    @include mq(desktop-wide) {
      margin-bottom: 50px;
    }
  }
  &__slides {
    &--wrapper {
      position: relative;
    }
    &--buttons {
      .btn {
        @include mq(tablet, max) {
          width: 312px;
        }
      }
    }
  }
  &__slide {
    position: relative;
    &--subheading {
      position: absolute;
      display: block;
      left: 50%;
      bottom: 15px;
      transform: translateX(-50%);
      font: 700 12px/1 $f-text;
      color: $c-white;
      letter-spacing: 2.6px;
      z-index: 1;
      @include mq(tablet) {
        display: none;
      }
    }
    &--image {
      height: svw(610px);
      @include mq(tablet) {
        height: vw(700px);
        max-height: 700px;
      }
      img {
        @include coverImage();
      }
    }
    &--box {
      display: none;
      min-width: 150px;
      text-align: center;
      background-color: $c-white;
      @include mq(tablet) {
        position: absolute;
        display: block;
        top: 0;
        right: vw(122px);
        transform: translateY(-50%);
      }
      &-header {
        padding: 12px;
        font: 700 12px/1 $f-text;
        letter-spacing: 0.22em;
        color: $c-white;
        background-color: $primary;
        text-transform: uppercase;
      }
      &-body {
        padding: 12px;
        font: 400 36px/47.66px $f-heading;
        color: $c-black;
        border-bottom: 1px solid $primary;
      }
      &-footer {  
        padding: 7px;
        font: 400 10px/12px $f-text;
        letter-spacing: -0.02em;
        color: $primary;
      }
    }
    &--buttons {
      padding: 45px 0;
      text-align: center;
      @include mq(tablet) {
        padding: 30px 0;
      }
    }
  }
  .slick-list {
    overflow: visible;
  }
  &__links {
    position: absolute;
    display: none;
    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 45px;
      width: 100%;
    }
  }
  &__link {
    position: relative;
    margin: 0 20px;
    font: 700 14px/1 $f-text;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $c-white;
    &.active {
      &::after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -45px;
        @include triangle(top, $c-white, 40px, 18px);
        transform: translateX(-50%);
      }
    }
  }
  .slick-dots {
    margin: 0 -2.5px;
    bottom: -10px;
    li {
      width: calc(100% / 8);
      margin: 0;
      padding: 0 2.5px;
      &.slick-active button {
        background-color: #52637D;
        &::after {
          border-bottom-color: $primary;
        }
      }
      button {
        position: relative;
        width: 100%;
        height: 3px;
        border-radius: 0;
        background-color: $c-gray-0d;
        &::after {
          position: absolute;
          content: '';
          left: 50%;
          top: -8px;
          @include triangle(top, $primary, 17px, 8px);
          border-bottom-color: #0000;
          transition: all .3s ease-in-out;
          transform: translateX(-50%);
        }
      }
    }
  }
}