.two-columns-alt {
  text-align: center;
  &.no-padding {
    .container {
      padding: 0;
    }
  }
  &.only-image {
    .col {
      @include mq(tablet, max) {
        margin-bottom: 0 !important;
      }
    }
  }
  h2 {
    margin-bottom: 33px;
    @include typography(36px, 62px, 40px, 78px);
    letter-spacing: -0.04em;
    @include mq(tablet) {
      margin-bottom: vw(70px);
    }
    @include mq(desktop-wide) {
      margin-bottom: 70px;
    }
  }
  .row {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: vw(30px);
    }
    @include mq(desktop-wide) {
      grid-gap: 30px;
    }
    .col {
      @include mq(tablet, max) {
        &:not(:last-child) {
          margin-bottom: 54px;
        }
      }
      &-image {
        margin-bottom: 10px;
        height: 400px;
        @include mq(tablet) {
          margin-bottom: vw(45px);
          height: vw(860px);
          max-height: 860px;
        }
        @include mq(desktop-wide) {
          margin-bottom: 45px;
        }
      }
      img {
        @include coverImage();
      }
      h6 {
        margin: 20px 0;
        font: 700 14px/1 $f-text;
        color: $c-gray-18;
        letter-spacing: 0.25em;
      }
      p {
        color: $c-gray-48;
      }
      .cta {
        margin-top: 35px;  
        letter-spacing: 0.25em; 
        color: #576881;
        &::after {
          border-color: #576881;
        }
      }
    }
  }
}