.two-cards {
  .container {
    @include mq(tablet, max) {
      padding: 0;
      @include when-inside('.single-post') {
        padding: 0 20px;
      }
    }
  }
  &__inner {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px
    }
  }
  .card {
    @include mq(tablet, max) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    &-image {
      position: relative;
      height: 400px;
      @include mq(tablet) {
        height: vw(730px);
        max-height: 730px;
      }
      &::after {
        opacity: 0.75;
      }
      img,
      video {
        @include coverImage();
      }
    }
    &-title {
      position: absolute;
      bottom: 20px;
      width: 100%;
      @include typography(14px, 18px, 14px, 18px, 700, $f-text, $c-white);
      letter-spacing: 0.25em;
      text-align: center;
      z-index: 1;
      @include mq(tablet) {
        bottom: vw(50px);
      }
    }
    &-description {
      padding: 0 10px;
      margin-top: 15px;
      text-align: center;
      @include typography(12px, 14px, 18px, 24px, 400, $f-text, $c-black);
      @include mq(tablet) {
        margin-top: 24px;
      }
    }
  }
}