.venues-module {
  position: relative;
  z-index: 2;
  .container {
    @include mq(tablet, max) {
      padding: 0;
    }
  }
  &__info {
    margin-bottom: 50px;
    text-align: center;
    @include mq(tablet) {
      margin: 0 auto 80px;
    }
  }
  &__heading {
    @include mq(tablet, max) {
      margin-bottom: 15px;
      padding: 0 20px;
    }
  }
  &__subheading {
    @include mq(tablet, max) {
      padding: 0 20px;
    }
  }
  &__filter {
    position: relative;
    margin: 80px 0 0;
    z-index: 3;
    background: url('../images/liner.svg') no-repeat center;
    &--selects {
      margin: auto;
      max-width: 320px;
      background-color: $background-color;
    }
    .jcf-select {
      &::after {
        border-top-color: $c-black;
      }
      &-text {
        letter-spacing: 3.6px;
        color: $c-black;
      }
    }
  }
  &__cta {
    margin-top: 40px;
    @include mq(tablet) {
      margin-top: vw(80px);
    }
    @include mq(desktop-wide) {
      margin-top: 80px;
    }
  }
  &__grid {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: vw(100px) vw(30px);
    }
    @include mq(desktop-wide) {
      grid-gap: 100px 30px;
    }
    .loop-venues {
      @include mq(tablet, max) {
        margin-bottom: 30px;
      }
      &--title {
        @include mq(tablet) {
          padding: 0 vw(40px);
        }
        @include mq(desktop-wide) {
          padding: 0 40px;
        }
      }
      &--info {
        display: block;
      }
    }
    .lds-roller {
      @include mq(tablet) {
        grid-column: 1/3;
      }
    }
    .no-venue {
      @include mq(tablet) {
        font-size: 20px;
        grid-column: 1/3;
        text-align: center;
      }
    }
  }
}