// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// Footer styles
.footer {
  background-color: $accent;
  @include mq(tablet, max) {
    text-align: center;
  }
  &-top {
    position: relative;
    text-align: center;
  }
  &-logo {
    display: inline-block;
    margin: 90px auto 102px;
    @include mq(tablet) {
      margin: vw(123px) auto vw(95px);
    }
    @include mq(desktop-wide) {
      margin: 123px auto 95px;
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      transition: all .3s ease-in-out;
      @include mq(tablet) {
        width: vw(230px);
        border-bottom: 1px solid $c-white;
        top: 50%;
        transform: translateY(-50%) scaleX(0);
      }
    }
    &::before {
      left: 0;
      transform-origin: left;
    }
    &::after {
      right: 0;
      transform-origin: right;
    }
    &.animation-end::before,
    &.animation-end::after {
      transform: translateY(-50%) scaleX(1);
    }
    img {
      width: 245px;
      @include mq(tablet) {
        width: vw(420px);
      }
      @include mq(desktop-wide) {
        width: 420px;
      }
    }
    &__wrapper {
      @include mq(tablet, max) {
        border-bottom: 0.75px solid #8e8e8e;
      }
    }
  }
  &-main {
    @include mq(tablet) {
      display: flex;
      text-align: left;
      justify-content: space-between;
    }
  }
  &-item {
    margin-bottom: 70px;
    @include mq(tablet) {
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 1em;
      @include typography(14px, 12px, 14px, 12px, 600, $f-text, $c-white);
      letter-spacing: 0.3em;
    }
    &__content {
      color: $c-white;
      p {
        font: 400 14px/26px $f-text;
        color: $c-white;
        @include mq(tablet, max) {
          line-height: 24px;
          letter-spacing: 0.01em;
        }
      }
      a {
        line-height: 1;
        color: $c-white;
        @include buttonUnderline(1px, $c-white);
      }
    }
  }
  &-contact {
    @include mq(tablet) {
      margin-right: vw(35px);
    }
  }
  &-address {
    @include mq(tablet) {
      margin-right: vw(32px);
    }
  }
  &-partners {
    align-items: center;
    @include mq(tablet, max) {
      padding: 0 40px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 54px 30px;
    }
    @include mq(tablet) {
      display: flex;
      padding: vw(112px) vw(90px) vw(80px) vw(80px);
      justify-content: space-between;
    }
    @include mq(desktop-wide) {
      padding-top: 112px;
      padding-bottom: 80px;
    }
    &__link {
      display: inline-block;
      @include mq(tablet, max) {
        &:nth-child(5) {
          grid-column: 1/3;
        }
      }
      @include mq(tablet) {
        img {
          transition: transform .3s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(0.95);
          }
        }
      }
    }
    .divider {
      @include mq(tablet, max) {
        width: 200%;
        margin-left: -20px;
        margin-bottom: 40px;
        border-bottom: 0.75px solid #8e8e8e;
      }
      @include mq(tablet) {
        width: 0;
        border-left: 1px solid #8e8e8e;
        height: vw(85px);
      }
      @include mq(desktop-wide) {
        height: 85px;
      }
    }
  }
  .social-items {
    @include mq(tablet, max) {
      column-count: 2;
    }
    
    .social-link {
      margin-bottom: 1em;
      font: 700 12px/1 $f-text;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      color: $c-white;
      @include buttonUnderline(1px, $c-white);
    }
  }
  &-menu {
    margin-bottom: 40px;
    @include mq(tablet) {
      flex-grow: 1;
      max-width: vw(610px);
      margin-bottom: 0;
      margin-right: vw(38px);
      column-count: 3;
      column-gap: vw(30px);
    }
    @include mq(desktop-wide) {
      max-width: 610px;
      column-gap: 30px;
    }
    .nav-link {
      margin-bottom: 1em;
      font: 700 12px/1 $f-text;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      color: $c-white;
      @include buttonUnderline(1px, $c-white);
    }
  }
  &-bottom {
    border-bottom: 10px solid $primary;
    padding: 45px 20px 40px;
    text-align: center;
    @include mq(tablet) {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      background-color: $primary;
      border-bottom: 0;
    }
    &__links {
      @include mq(tablet, max) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__link {
      margin-bottom: 1em;
      letter-spacing: 0.02em;
      @include typography(14px, 12px, 26px, 24px, 400, $f-text, $c-white);
      @include buttonUnderline(1px, $c-white);
      padding-bottom: 0 !important;
      @include mq(tablet) {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
    &__copyright {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include mq(tablet) {
        flex-direction: row;
      }
      .divider {
        display: none;
        color: $c-white;
        @include mq(tablet) {
          margin: 0 10px;
          display: inline-block;
        }
      }
      .copyright {
        color: $c-white;
      }
    }
  }
}
