// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Header styles
.header {
  position: fixed;
  padding: 15px 25px;
  width: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  @include adminbar-offset();

  @include mq(tablet) {
    padding: vw(26px) vw(30px);
  }

  @include mq(desktop-wide) {
    padding: 26px 30px;
  }

  &:not(.sticky).header--light {
    background-color: #0000;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: vw(192px);
    background: linear-gradient(180deg, #000000 0%, rgba(35, 35, 35, 0.526042) 47.92%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.4;
    z-index: -1;

    @include mq(tablet) {
      height: vw(157px);
      background: linear-gradient(180deg,
          #faf6ef 0%,
          rgba(250, 246, 239, 0) 100%);
    }

    @include when-inside(".header--light") {
      background: linear-gradient(180deg, #3F526F 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.32;
    }
  }

  &.sticky {
    background-color: $background_color;

    &::after {
      content: none;
    }

    @include mq(tablet, max) {
      background-color: #0000;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 73px;
        background: linear-gradient(180deg, #333333 0%, rgba(26, 26, 26, 0.29) 100%);
        opacity: 0.9;
        z-index: -1;
      }
    }

    @include mq(tablet) {
      background: $background_color;
      border-bottom: 1px solid $border_color;
      padding: 20px;
    }

    @include when-inside(".admin-bar") {
      @media screen and (max-width: 600px) {
        top: 0;
      }
    }
  }

  &.header--room.sticky {
    background-color: $background_color;
    border-bottom: 1px solid $primary;

    &::after {
      content: none;
    }

    .hamburger span {
      border-color: $primary;
    }
  }

  &-cta.btn {
    position: relative;
    border-color: $accent;
    font-weight: 700;

    @include mq(tablet, max) {
      display: none !important;
    }

    @include mq(tablet) {
      display: block;
      margin-left: auto;
    }

    @include mq(desktop) {
      width: 280px;
      margin-left: vw(40px);
    }

    @include when-inside(".mobile") {
      @include orientation(landscape) {
        width: 200px;
        font-size: 10px;
      }
    }


    @include mq(desktop-wide) {
      margin-left: 40px;
    }
  }

  &-cta--mobile.btn {
    margin-top: 80px;
    width: 300px;

    @include mq(tablet) {
      display: none;
    }
  }
  &-social {
    margin-top: 50px;
    a,
    span {
      font: 700 12px/1 $f-text;
      letter-spacing: 0.23em;
      color: $primary;
      text-transform: uppercase;
    }
  }
  &-post {
    position: absolute;
    display: none;

    @include mq(tablet) {
      display: block;
      right: vw(70px);
      bottom: vw(76px);
    }

    @include mq(desktop-wide) {
      right: 70px;
      bottom: 76px;
    }

    @include when-inside('.mobile') {
      display: none;
    }

    &__tag {
      margin-bottom: 16px;
    }

    &__image {
      overflow: hidden;

      @include mq(tablet) {
        width: vw(300px);
      }

      &::after {
        opacity: 0.45 !important;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }

      img {
        display: block;
        transition: all .5s ease-in-out;
      }
    }

    &__title {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      color: $c-white;
      z-index: 1;

      @include mq(tablet) {
        bottom: vw(30px);
      }
    }
  }

  &.header--booking {
    background-color: $background_color !important;

    @include mq(tablet, max) {
      border-bottom: 1px solid;
    }

    &::after {
      content: none;
    }

    .header-nav {
      justify-content: space-between;
    }

    .hamburger span {
      border-color: $primary;
    }

    .logo-link {
      @include mq(tablet, max) {
        img:not(.header-logo__scroll) {
          display: none !important;
        }

        .header-logo__scroll {
          display: block !important;
        }
      }

      @include mq_mobile_landscape() {
        top: 15px;

        img:not(.header-logo__scroll) {
          display: none !important;
        }

        .header-logo__scroll {
          display: block !important;
        }
      }

      @include mq(tablet) {
        img:not(.header-logo) {
          display: none !important;
        }

        .header-logo {
          display: block !important;
        }
      }
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;

  @include mq(tablet, max) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .logo-link {
    transition: none;

    @include when-inside(".sticky") {

      @include mq(tablet) {
        margin-left: 30px;
      }
    }

    .header-logo {
      display: none;

      @include mq(tablet) {
        margin-left: vw(30px);
        display: block;

        @include when-inside(".sticky") {
          display: none;
        }

        @include when-inside('.home') {
          display: none;
        }
      }

      @include mq(desktop-wide) {
        margin-left: 30px;
      }
    }

    .header-logo__scroll {
      display: none;

      @include mq(tablet) {
        @include when-inside(".sticky") {
          display: block;
        }
      }
    }

    .header-logo__scroll--white {
      @include mq(tablet) {
        display: none;

        @include when-inside(".sticky") {
          display: none;
        }
      }

      @include mq(tablet, max) {
        display: none;

        @include when-inside('.sticky:not(.header--room)') {
          display: block;
        }
      }
    }

    .header-logo__mobile {
      @include mq(tablet) {
        display: none;
      }

      @include when-inside('.sticky') {
        display: none;
      }
    }

    .header-logo__mobile--dark {
      display: none;

      @include mq(tablet, max) {
        @include when-inside('.sticky') {
          display: block;
        }
      }
    }
  }

  .main-menu__wrapper {
    margin-left: auto;

    @include mq(desktop, max) {
      display: none;
    }
  }

  &__menus {
    display: flex;
    align-items: center;

    .nav-item {
      margin: 0 10px;
    }

    .nav-link {
      @include buttonText();
      @include buttonUnderline(1px, $c-white);
      padding-bottom: 0;
      color: $c-white;
      @include when-inside('.header--dark') {
        color: $c-black;
        &::after {
          border-color: $c-black;
        }
      }
      @include when-inside('.sticky') {
        color: $accent;

        &::after {
          border-color: $accent;
        }
      }
    }
  }
}

.header-menu {
  position: fixed;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  background-color: $background_color;
  background-position: center right;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  transform: translateY(-200%);
  z-index: 100;
  @include adminbar-offset();

  @include mq(tablet, max) {
    top: 0 !important;
    overflow: auto;
  }

  @include mq_mobile_landscape() {
    height: 100vh;
  }

  @include mq(tablet) {
    width: vw(1155px);
    max-height: 100vh;
    box-shadow: 29px 0px 53px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in-out cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(-100%);
    overflow: auto;
    @include customScrollBar();
  }

  @include when-inside(".header--open") {
    transform: none;
  }

  &__top {
    padding: 20px 30px;
    display: flex;
    align-items: center;

    @include mq(tablet, max) {
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    @include mq(tablet) {
      padding: 30px;
      padding: vw(30px);
    }

    @include mq(desktop-wide) {
      padding: 30px;
    }
  }

  .divider {
    display: none;
    margin: 0 30px;
    width: 1px;
    height: 52px;
    background-color: $c-black;

    @include mq(tablet) {
      display: block;
    }
  }

  .menu-mobile__wrapper {
    padding: 43px 50px 40px 35px;

    @include mq(tablet) {
      padding: vw(40px) vw(100px);
    }

    @include mq(desktop-wide) {
      padding: 40px 100px;
    }
  }

  a {
    @include mq(tablet) {
      &:hover {
        color: $secondary !important;
      }
    }
  }

  .current-menu-item>a {
    color: $accent !important;
  }

  .nav-link {
    display: inline-block;

    &--main {
      >a {
        @include typography(40px, 85px, 52px, 99px, 400, $f-heading, $primary);
        letter-spacing: 0;
      }

      .dropdown-toggle {
        position: relative;

        .arrow {
          position: absolute;
          content: "";
          top: 50%;
          left: -20px;
          width: 0;
          height: 0;
          border-width: 11px 5.5px 0 5.5px;
          border-style: solid;
          border-color: $secondary transparent transparent transparent;
          transform: translateY(-50%);
          transition: transform 0.3s ease-in-out;

          @include mq(tablet) {
            left: vw(-34px);
            border-width: 16px 8px 0 8px;
          }

          @include mq(desktop-wide) {
            left: -34px;
          }
        }

        &.dropdown--open .arrow {
          transform: translateY(-50%) rotate(-180deg);
        }
      }

      .dropdown-menu {
        display: none;
        padding: 20px 0;

        @include mq(tablet) {
          padding: vw(53px) 0 vw(37px);
        }

        .dropdown-item {
          display: inline-block;
          margin-bottom: 1em;
          @include typography(12px, 14px, 4px, 7px, 700, $f-text, $accent);
          text-transform: uppercase;
          letter-spacing: 0.23em;

          @include mq(tablet) {
            letter-spacing: 0.41em;
          }
        }
      }
    }

    &--secondary__first {
      margin-top: 44px;

      @include mq(tablet) {
        margin-top: vw(40px);
      }

      @include mq(desktop-wide) {
        margin-top: 40px;
      }
    }

    &--secondary a {
      margin-bottom: 1em;
      @include typography(12px, 14px, 13.54px, 17.23px, 600, $f-text, $accent);
      text-transform: uppercase;
      letter-spacing: 0.41em;
    }
  }

  .mt-90 {
    margin-top: 40px;

    @include mq(tablet) {
      margin-top: vw(60px);
    }

    @include mq(tablet) {
      margin-top: 60px;
    }
  }
}

.hamburger {
  span {
    display: block;
    margin-bottom: 5px;
    width: 40px;
    border: 1px solid $c-white;
    transform-origin: left;

    @include mq(tablet) {
      border-color: $c-black;

      @include when-inside(':not(.header--dark)') {
        border-color: $c-white;
      }
    }

    @include when-inside('.header--dark') {
      @include mq(tablet) {
        border-color: $c-black;
      }
    }

    @include when-inside(".sticky") {
      @include mq(tablet) {
        border-color: $c-black;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    span {
      &:first-child {
        animation: 1s animationWidth 0s ease-in-out alternate infinite;
      }

      &:last-child {
        animation: 1s animationWidth 0.3s ease-in-out alternate infinite;
      }
    }
  }

  &-close {
    transition: transform .5s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

.booking-popup__close {
  display: none;
  transition: transform .5s ease-in-out;

  @include when-inside('.header--booking') {
    @include mq(tablet) {
      display: block;
    }
  }

  &:hover {
    transform: rotate(360deg);
  }
}

@keyframes animationWidth {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0.5);
  }
}

.secondary-nav {
  width: 100%;
  @include mq(tablet) {
    padding: 45px 0;
  }
  &.secondary-nav--fixed {
    position: fixed;
    top: 74px;
    padding: 12px 0;
    background-color: $background_color;
    border-bottom: 1px solid $primary;
    z-index: 9;
    @include mq(tablet) {
      padding: 20px 0;
      top: 82px;
      @include when-inside('.admin-bar') {
        top: 115px;
      }
    }
  }
  &__mobile {
    @include mq(tablet) {
      display: none;
    }

    .jcf-list-content {
      padding: 32px 0 16px;
      max-height: none !important;
    }

    .jcf-select {
      padding-top: 78px;
      padding-bottom: 12px;
      border: none;
      border-bottom: 1px solid $primary;
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.3em;
      text-align: center;
      &-drop {
        left: 0;
        top: 70px;
        @include when-inside('.secondary-nav--fixed') {
          top: 46px;
        }
      }
      @include when-inside('.secondary-nav--fixed') {
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        color: #0d0d0d;
      }
      &::after {
        position: static;
        margin-left: 10px;
        width: 8px;
        height: 4px;
        border: none;
        @include svgBackground("<svg width='6' height='5' viewBox='0 0 6 5' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3 5L0.401924 0.5L5.59808 0.5L3 5Z' fill='%23181818'/></svg>");
      }
    }

    .jcf-list li span {
      padding: 0;
      font: 600 12px/50px $f-text;
      text-transform: uppercase;
      color: #0d0d0d;
      letter-spacing: 0.3em;
      text-align: center;
      border-bottom: 0;
    }
  }

  &__desktop {
    display: none;

    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    @include mq(tablet) {
      padding: 0 vw(20px);
    }

    @include mq(desktop-wide) {
      padding: 0 20px;
    }
  }
  .separater {
    display: block;
    width: 0;
    height: 43px;
    border-left: 1px solid $c-black;
  }
  &__link {
    position: relative;
    font: 700 14px/14px $f-text;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #9A9999;
    &:hover,
    &.active {
      color: $c-gray-0d;
      &::after {
        background-color: $c-gray-0d;
      }
    }
    &::after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: -13px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: transparent;
      transform: translateX(-50%);
      transition: all .3s ease-in-out;
    }
    @include when-inside('.secondary-nav--fixed') {
      color: $c-gray-0d;
      &::after {
        content: none;
      }
      &:hover {
        color: $accent !important;
      }
    }
  }

}