.archive {
  .press {
    padding-top: 185px;
    margin-bottom: 50px;
    @include mq(tablet) {
      padding-top: 200px;
      margin-bottom: 100px;
    }
    @include mq(desktop-small) {
      padding-top: 220px;
      margin-bottom: 150px;
    }
  }
}