.page-meetings {
  .venues-module {
    @include mq(tablet, max) {
      padding-top: 50px;
      border-top: 1px solid $c-gray-c4;
    }
  }
  .media-content--left {
    .media-content__text {
      @include mq(tablet) {
        margin-left: auto;
        text-align: right;
        width: vw(410px);
        max-width: 410px;
        .btn {
          min-width: 230px;
        }
      }
    }
  }
}