.page-neighborhood {
  .general-hero {
    .home-hero {
      &::before {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.5;
      }
      &::after {
        content: none;
      }
    }
  }
}