.page-neighborhood {
  .general-hero {
    .home-hero {
      &::before {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.5;
      }
      &::after {
        content: none;
      }
    }
  }
  .custom-wysiwig p {
    color: $c-black;
  }
  .media-content--left .media-content__content {
    @include mq(tablet) {
      text-align: right;
    }
    .media-content__title {
      @include mq(tablet) {
        margin-bottom: vw(10px);
      }
    }
    .media-content__btn {
      margin-top: 0;
      background-color: transparent;
      border-color: $c-black;
      color: $c-black;
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $c-white;
      }
    }
  }
}