.single-culinary {
  .header:not(.sticky)::after {
    @include mq(tablet) {
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.6;
    }
  }
  .secondary-nav--fixed .secondary-nav__link {
    opacity: 1;
  }
  .secondary-nav__link {
    font-size: 13px;
    color: $c-gray-0d;
    opacity: 0.3;
    &:hover,
    &:active {
      opacity: 1;
    }
  }
  #about {
    h1 {
      margin-bottom: 20px;
      @include typography(56px, 68px, 56px, 68px, 400, $f-heading, $c-gray-2f);
      @include mq(tablet) {
        margin-bottom: vw(50px);
      }
    }
    h6 {
      margin-bottom: 15px;
      @include typography(12px, 14px, 12px, 14px, 700, $f-text, $c-gray-0d);
      letter-spacing: 0.15em;
      @include mq(tablet) {
        margin-bottom: 20px;
        letter-spacing: 0.3em;
      }
    }
    p {
      color: $c-gray-0d;
      @include mq(tablet) {
        color: $c-black;
      }
    }
    .btn {
      display: inline-block;
      margin-top: 30px;
      @include mq(tablet) {
        margin-top: vw(60px);
      }
    }
  }
  .accordions {
    h3.accordions-heading {
      @include typography(42px, 54px, 55px, 64px, 400, $f-heading, $c-gray-0d);
      @include mq(tablet) {
        color: $c-gray-2f;
      }
      @include mq(desktop-wide) {
        font-size: 54px;
      }
    }
  }
  .accordion {
    &-title {
      font-size: 12px;
    }
  }
  .slide-title {
    color: $c-gray-0d;
    @include mq(tablet) {
      color: $c-gray-18;
    }
  }
  .slide-desc {
    color: $c-black;
  }
}