.single-room {
  .header:not(.sticky)::after {
    @include mq(tablet) {
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.6;
    }
  }
  #single-room-info {
    h2 {
      margin-bottom: 20px;
      // @include typography(56px, 72px, 56px, 72px, 400, $f-heading, $c-gray-2f);
      letter-spacing: -0.04em;
    }

    h6 {
      // @include typography(12px, 14px, 18px, 14px, 700, $f-text, $c-black);
      letter-spacing: 0.01em;
      @include mq(tablet) {
        letter-spacing: 0.25em;
      }
    }
  }
  .media-content {
    &__content {
      text-align: center;
    }
    &__title {
      margin-bottom: 30px;
      // @include typography(56px, 60px, 56px, 60px, 400, $f-heading, $c-gray-2f);
      font-style: italic;
      @include mq(tablet) {
        margin-bottom: 50px;
      }
    }
    &__text {
      h6 {
        margin-bottom: 15px;
        // @include typography(12px, 14px, 12px, 14px, 700, $f-text, $c-gray-18);
      }
      p {
        @include typography(12px, 14px, 18px, 21px, 400, $f-text, $c-black);
      }
      .btn {
        display: inline-block;
        margin-top: 30px;
        @include mq(tablet) {
          margin-top: 20px;
        }
      }
    }
    &__media {
      height: svw(580px);
      @include mq(tablet) {
        width: vw(560px);
        height: vw(770px);
      }
      .img-a-img {
        &::before {
          padding-top: hp(375px, 580px);
          @include mq(tablet) {
            padding-top: hp(560px, 770px);
          }
        }
      }
    }
  }
}